* {
    font-family: 'Krub', sans-serif;
    
}

/* Paquetes */
#contenedor-paquetes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem auto 0  auto;
    gap: 2rem;
    padding: 0 4rem;
}

.paquete-1 {
    background-color: #BBDEFB;
    height: 22rem;
    border-radius: 1rem;
}

.paquete-2 {
    background-color: #2196F3;
    height: 22rem;
    border-radius: 1rem;
    color: #f8f2f2;
}

.paquete-1:hover {
    cursor: pointer;
    background-color: #90CAF9;
    box-shadow: 0px 0px 23px 0px rgba(214,214,214,1);
}

.paquete-2:hover {
    cursor: pointer;
    background-color: #42A5F5;
    box-shadow: 0px 0px 23px 0px rgba(214,214,214,1);
}

#home:hover {
    color: rgb(56, 56, 56);
    cursor: pointer;
}

.paquete-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 4rem;
}

.paquete-info p {
    font-weight: bold;
    font-size: 4rem;
}

.paquete-info img {
    border-radius: .5rem;
}

/* Index */
#encabezado {
    text-align: center;
    font-size: 32px;
}

/* Selección de Pago */

.contenedor-seleccion-pago {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 3rem;
}

.metodos-pago {
    height: 30rem;
    margin-top: 2rem;
}

.info {
    font-size: 70px;
    text-align: center;
}

.metodos-pago-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BBDEFB;;
    font-size: 256px;
    border: solid 3.5px;
    border-radius: 1rem;
    height: 100%;
}

.metodos-pago:hover {
    cursor: pointer;
    background-color: #90CAF9;
    box-shadow: 0px 0px 23px 0px rgba(214,214,214,1);
    border-radius: 1rem;
}

.metodos-pago-info:active {
    transform: scale(0.98);
}

.flecha {
    float: left;
    margin-left: 3rem;
}

.flecha:hover {
    cursor: pointer;
    box-shadow: 0px 0px 23px 0px rgba(214,214,214,1);
}

.flecha:active {
    transform: scale(0.9);
}