* {
    font-family: 'Krub', sans-serif;
}

body {
    background-color: #e3f2fd;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Index */
#encabezado-index h1 {
    text-align: center;
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: bold;
}

#seccion-idiomas h2 {
    text-align: center;
    font-size: 3rem;
}

@media (max-width: 992px) {
    #encabezado-index h1 {
        text-align: center;
        margin-top: 2rem;
        font-size: 2.4rem;
    }

    #seccion-idiomas h2 {
        text-align: center;
        font-size: 1.8rem;
    }
}

#contenido-idiomas {
    display: flex;
    gap: 8rem;
    justify-content: center;
}

.idiomas {
    text-align: center;
    width: 40%;
}

.idiomas p {
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 992px) {
    #contenido-idiomas {
        display: flex;
        gap: 4rem;
        justify-content: center;
    }
    
    .idiomas {
        text-align: center;
        width: 34%;    
    }
    
    .idiomas p {
        font-size: 1.6rem;
        font-weight: bold;
    }
    
}


.idiomas img {
    width: 100%;
    border-radius: .5rem;
}


.idiomas a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.idiomas a:hover {
    transform: scale(0.98);
}

/* Paquetes */
#contenedor-paquetes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto 0  auto;
    gap: 2rem;
    padding: 0 4rem;
}

.paquete-1 {
    background-color: #64B5F6;
    height: 22rem;
    border-radius: 1rem;
}

.paquete-2 {
    background-color: #1E88E5;
    height: 22rem;
    border-radius: 1rem;
    color: #f8f2f2;
}

@media (max-width: 992px) {

    #contenedor-paquetes {
        gap: 1.2rem;
    }

    .paquete-1 {
        background-color: #64B5F6;
        height: 11.5rem;
        border-radius: 1rem;
    }

    .paquete-2 {
        background-color: #1E88E5;
        height: 11.5rem;
        border-radius: 1rem;
        color: #f8f2f2;
    }
}

.paquete-1:hover {
    cursor: pointer;
    background-color: #90CAF9;
    box-shadow: 0px 0px 23px 0px rgba(214,214,214,1);
}

.paquete-1:active {
    transform: scale(0.96);
}

.paquete-2:hover {
    cursor: pointer;
    background-color: #42A5F5;
    box-shadow: 0px 0px 23px 0px rgba(214,214,214,1);
}

.paquete-2:active {
    transform: scale(0.96);
}

#home{
    font-size: 4.3rem;
    margin-top: .8rem;
    color: black;
}

#home:hover {
    color: rgb(56, 56, 56);
    cursor: pointer;
}

#home:active{
    transform: scale(.94);
}

.paquete-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 4rem;
}

.paquete-info p {
    font-weight: bold;
    font-size: 4rem;
}

.paquete-info img {
    width: 32%;
}

@media (max-width: 992px) {
    .paquete-info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        gap: 1.5rem;
    }

    .paquete-info p {
        font-weight: bold;
        font-size: 2.4rem;
    }

    #home{
        font-size: 3.8rem;
        margin-top: .4rem;
    }

    .paquete-info img {
        width: 30%;
    }
}



/* Index */
#encabezado {
    text-align: center;
    font-size: 32px;
}

/* Selección de Pago */
#encabezado-seleccionPago {
    display: flex;
    font-size: 28px;
    gap: 20rem;
    align-items: center;
    margin-left: 3rem;
}

#encabezado-seleccionPago a {
    color: black;
}


.contenedor-seleccion-pago {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 3rem;
}


.metodos-pago {
    height: 30rem;
    margin-top: 2rem;
}

.info {
    font-weight: bold;
    font-size: 4.5rem;
}

.metodos-pago-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #42A5F5;
    font-size: 256px;
    border: solid 3.5px;
    border-radius: 1rem;
    height: 100%;
}

.metodos-pago-info a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
}

.metodos-pago-info ion-icon {
    margin-top: 2rem;
}

.metodos-pago:hover {
    cursor: pointer;
    background-color: #90CAF9;
    box-shadow: 0px 0px 23px 0px rgba(214,214,214,1);
    border-radius: 1rem;
}

.metodos-pago-info:active {
    transform: scale(0.98);
}

.flecha {
    font-size: 80px;
}

.flecha:hover {
    cursor: pointer;
    
}

.flecha:active {
    transform: scale(0.9);
}

@media (max-width: 992px) {
    #encabezado-seleccionPago {
        font-size: 28px;
        gap: 7.5rem;
    }

    .contenedor-seleccion-pago {
        margin: 0 3rem;
    }

    .metodos-pago {
        display: flex;
        flex-direction: column;
        max-height: 18rem;
        margin-top: 0.8rem;
    }

    .info {
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 0.1rem;
        text-align: center;
    }

    
    .metodos-pago-info {
        background-color: #42A5F5;
        font-size: 200px;
        border: solid 3.5px;
        border-radius: 1rem;
        height: 100%;
        
    }
    
}

/*Páginas de pagos*/

#encabezado-pagoTarjeta {
    display: flex;
    gap: 3.5rem;
}

#contenedor-pagar-tarjeta h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

.dinero-a-pagar h2 {
    margin: 5rem;
}

/* Impresión de recibo */
#contenedor-impresion {
    margin: 0;
    width: 100%;
    height: 100%;
}

#encabezado-impresion h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 4rem;
}

#seccion-impresion h2 {
    text-align: center;
    font-size: 2.2rem;
}

/* Impresion pagina final */
#contenedor-impresionFinal {
    margin: 0;
    width: 100%;
    height: 100%;
}

#encabezado-impresionFinal h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 4rem;
}

#seccion-impresionFinal h2 {
    text-align: center;
    font-size: 2.2rem;
}

#seccion-iconoImpresion {
    margin-top: 4rem;
    text-align: center;
}

#seccion-impresionFinal p {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 992px) {
    #contenedor-impresionFinal {
        width: 60%;
        height: 100%;
        margin: 0 auto;
    }
    
    #encabezado-impresionFinal h1 {
        text-align: center;
        margin-top: 1rem;
        font-size: 2rem;
    }
    
    #seccion-impresionFinal h2 {
        text-align: center;
        font-size: 1.2rem;
        padding-top: .6rem;
    }

    #seccion-impresionFinal p {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }

    #seccion-iconoImpresion {
        margin-top: -.6rem;
        text-align: center;
    }
}

#contenedor-pagar-efectivo h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

.info-pago-efectivo {
    margin-right: 1rem;
    display: flex;
    justify-content: right;
}

#seccion-icono {
    margin-top: 4rem;
    text-align: center;
}

.info-pago-efectivo p {
    text-align: center;
    background-color: whitesmoke;
    font-size: 1.5rem;
    width: 25%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px;
}

.info-pago-tarjeta {
    margin-left: 3rem;
}

.info-pago-tarjeta p {
    font-size: 1.5rem;
    background-color: whitesmoke;
    width: 25%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px;
}

#contenedor-pagos {
    background-color: #BBDEFB;
    margin: 0;
    width: 100%;
    height: 100%;
}

#contenedor-fondo {
    background-color: #BBDEFB;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Detalles del paquete */
#flecha{
    font-size: 5rem;
    margin-top: .8rem;
    color: black;
}

#flecha:hover {
    color: rgb(56, 56, 56);
    cursor: pointer;
}

#flecha:active{
    transform: scale(0.98);
}

a {
    text-decoration: none;
    color: black;
}

/* #detalles-paquete{
    width: 35%;
    margin: 0 auto;
    text-align: justify;
} */

/* #detalles-paquete ul li{
    font-size: 30px;
} */

#titulo-paquete{
    font-size: 35px;
    text-align: center;
}

@media (max-width: 992px) {
    #titulo-paquete {
        margin-top: -8.5rem;
    }

    #detalles-paquete {
        margin-left: 5rem;
        margin-top: -1rem;
    }

    #detalles-paquete ul li{
        font-size: 20px;
    }
}

/*Pago por vehículos*/
.contenedor-pago-vehiculos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 2.5rem 3rem ;
}

.pago-vehiculos {
    height: 20rem;
    margin-top: 2rem;
}

.pago-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #42A5F5;
    font-size: 256px;
    border: solid 3.5px;
    border-radius: 1rem;
    height: 100%;
    
}

.pago-auto a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.pago-auto img {
    width: 49%;
}



.pago-camioneta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90CAF9;
    font-size: 256px;
    border: solid 3.5px;
    border-radius: 1rem;
    height: 100%;
}

.pago-camioneta a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.pago-camioneta img {
    width: 40%;
}

.pago-vehiculos:hover {
    cursor: pointer;
    background-color: #90CAF9;
    box-shadow: 0px 0px 23px 0px rgba(214,214,214,1);
    border-radius: 1rem;
}

.info-pago-auto {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.info-pago-camioneta {
    font-weight: bold;
    font-size: 2rem;
}

.pago-camioneta:hover {
    background-color: #64B5F6;
    transform: scale(0.98);
}

.pago-auto:hover {
    background-color: #90CAF9;
    transform: scale(0.98);
}

@media (max-width: 992px) {
    .pago-vehiculos {
        margin-top: -.5rem;
        max-height: 12rem;
    }

    .pago-auto img{
        width: 35%;
    }

    .pago-auto p {
        margin-top: -1.2rem;
    }

    .pago-camioneta a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .pago-camioneta a img {
        width: 30%;
        margin-top: 1rem;
    } 

    .pago-camioneta p {
        margin-top: 0rem;
    }

    

}
